@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<p>Flover is aimed to recognize flower species based on provided images. It uses power of Image Processing and  Machine Learning.</p>
