@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "You are welcomed to contact me";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Github repository:</strong> <a href="https://github.com/tomaszkacmajor/Flover">Flover Project</a><br />
    <strong>E-mail:</strong> <a href="tomasz.kacmajor@gmail.com">tomasz.kacmajor@gmail.com</a><br/>
</address>
